body {
    background-color: #ECF0F1;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212F3D;
    height: 120px;
}

h1 {
    font-size: 50px;
    color: #ECF0F1;
}

h3 {
    color: #ECF0F1;
    margin-top: 50px;
}

img {
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 16px;
    background-color: #2C3E50;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #5DADE2;
}

footer {
    position: absolute;
    bottom: 0;
}