#check {
    display: none;
}

.boton {
    display: none;
}

@media screen and (max-width: 1440px) {
    .trailer {
        height: 550px;
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 1270px) {
    .menu-label {
        display: none;
    }

    .menu-opciones {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    * {
        transition: none;
        animation: none;
        transform: none;
    }

    .link-text:hover{
        transform: none;
        transition: none;
        text-shadow: none;
    }

    #menu-link-titulo:hover h1 {
        transform: none;
        transition: none;
        text-shadow: none;
    }

    .menu-footer:hover {
        background-color: inherit;
    }
}

@media screen and (max-width: 1024px) {
    .trailer {
        display: none;
    }

    footer {
        display: block;
        position: absolute;
        bottom: 0;
    }

    .boton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
        padding: 20px;
        font-size: 40px;
        border-radius: 20px;
        color: #ECF0F1;
        background-color: #cc0000;
    }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
    
        #introduccion {
            margin-top: 160px;
        }
    
        #menu li:first-child {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 40vh;
        }
    
        #menu li:not(:first-child) {
            display: none;
        }
    
        .menu-label {
            cursor: pointer;
            margin-left: 40px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .menu-icon {
            width: 55px;
            transition: transform 0.3s ease;
        }
    
        #check:checked ~ .menu-label .menu-icon {
            transform: rotate(180deg);
        }
    
        .menu-label::before,
        .menu-label::after {
            content: '';
            position: absolute;
            width: 55px;
            height: 3px;
            background-color: #ECF0F1;
            transition: all 0.3s ease;
            opacity: 0;
        }
    
        .menu-label::before {
            transform: rotate(45deg);
        }
    
        .menu-label::after {
            transform: rotate(-45deg);
        }
    
        #check:checked ~ .menu-label::before,
        #check:checked ~ .menu-label::after {
            opacity: 1;
        }
    
        #check:checked ~ .menu-label .menu-icon {
            opacity: 0;
        }
    
        .menu-opciones {
            position: fixed;
            width: 100%;
            height: 0vh;
            top: 110px;
            background-color: #212F3D;
            opacity: 95%;
            text-align: center;
            transition: all 0.5s;
            padding: 0;
        }
    
        .menu-opciones .menu-opciones-li {
            display: none;
            list-style: none;
            margin: 50px 0;
            transition: all 0.5s;
        }
    
        #check:checked ~ .menu-opciones {
            height: 100vh;
        }
    
        #check:checked ~ .menu-opciones .menu-opciones-li {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    
        .opciones {
            color: #ECF0F1;
            font-size: 2rem;
            border-top: 2px solid #ECF0F1;
            border-bottom: 2px solid #ECF0F1;
        }
    }

/* MOBILE L */
@media screen and (max-width: 425px) {
    .trailer {
        height: 400px;
    }

    footer {
        display: none;
    }

    #menu li:first-child h1 {
        font-size: 40px;
        width: 40vh;
        margin: 0 40px;
        padding: 0;
        z-index: 0;
    }

    .menu-icon {
        z-index: 1;
        width: 50px;
    }
}

@media screen and (max-width: 320px) {
    #menu li:first-child h1 {
        font-size: 35px;
    }

    .menu-icon {
        z-index: 1;
        width: 40px;
    }
}
