.trailer {
    width: 900px;
    height: 600px;
    position: relative;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69.4vh;
}

.trailer:hover {
    transform: scale(1.1);
    z-index: 15;
}

body:has(.trailer:hover)::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}
